<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.praysam.demo1.mapper.ArticleMapper">
    <insert id="saveArticle">
        insert into article(title,author,content,file_name)
        values(#{title},#{author},#{content},#{file_name})
    </insert>

    <select id="getArticleById" parameterType="java.lang.Integer" resultType="net.praysam.demo1.pojo.Article">
        select id,title,author,content,file_name,state
        from article
        where id = #{id}
    </select>
</mapper>